body{
    font-family: 'Bitter', serif;
    margin: 0;
}
h1{
    font-size: 50px;
    color: blue;
    margin-left: 5%;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
p{
    color: dimgray;
    font-family: sans-serif;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-right: 50px;
    padding: left 2%;
  
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    background-color: white;
    box-shadow: 10px 10px 40px; gray;
    padding:5px;
    border-radius: 5px;
    height: 50%;
    
}
.experience{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position:left;
}
#full-stack{
    
    border-left: 3px solid orange;
    border-image: linear-gradient(lightsalmon orange );
    border-image-slice: 1px;
}
#baby-web{
    border-left: 3px solid blueviolet;
    border-image: linear-gradient( 180deg,blue cyan)
    border-image-slice: 1px;
}
footer p{
    text-align: center;
}